@using Microsoft.AspNetCore.Identity;
@using AwesomeNetwork35.Models.Users;


@model AwesomeNetwork35.ViewModels.Account.MainViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="side">
        Описание самой клевой соцсети
    </div>


    <div class="main">
        @* <partial name="Login" model="@Model.LoginView" /> *@
        <partial name="Register" model="@Model.RegisterView" />
    </div>

</div>